{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
    <h1>Todo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ todo.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ todo.description }}</td>
            </tr>
            <tr>
                <th>statu</th>
                <td>
                    {% if todo.statu != true %}
                        <div class="rounded-circle border background bg-danger  border-danger" style="height: 25px; width: 25px">
                        </div>
                    {% else %}
                        <div class="rounded-circle border background bg-success  border-success" style="height: 25px; width: 25px">
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ todo.createdAt ? todo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_todo_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}" class="btn btn-warning">edit</a>
    <a href="{{ path('app_add_invite', {'id': todo.id})}}" class="btn btn-success">add invite</a>

    {{ include('todo/_delete_form.html.twig') }}
    <br>
    <h4>collaborator</h4>
    <table class="table">
        <tbody>
        <tr>
            <th>master</th>
            <td>{{ todo.author.username }}</td>
        </tr>
        {% for invite in todo.invite %}
            <tr>
                <th>invite</th>
                <td>{{ invite.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
